.doctor-login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    justify-content: space-evenly;
    font-family: Arial, sans-serif;  
    background: linear-gradient(to bottom, rgb(14, 130, 188), rgba(0, 116, 122, 0)); /* Add a fading background */
    .container{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        min-width: 190px;
        scale: 1.5;

        .header{
            font-size: xx-large;
            padding-top: 20px;
        }
        .form{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .input{
            border: none;
            border-bottom: 2px solid #000;
            margin-bottom: 2px; 
        }
        .button{
            size: 10px;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: #79b3ff87;
            border-color: #b4d4ff;
            transition: background-color 0.5s ease, transform 0.3s ease;
        }
        .button:hover{
            background-color: #a4c4ef; /* Change color on hover */
            transform: scale(1.01);
        }
        .button:active{
            background-color: #7394bf;
            transform: scale3d(0.99);
        }
    }
}

.doctor-register-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 5px; 
    padding: 10px;
    border: 5px solid black;
    justify-content: center;
    height: 100vh;
    justify-content: space-evenly;
    background-color: rgb(27, 27, 27);
    font-family: Arial, sans-serif;  
    background: linear-gradient(to bottom, rgb(14, 130, 188), rgba(0, 116, 122, 0)); /* Add a fading background */
   
    .container{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 10px;
        border-radius: 40px;
        scale: 1.5;

        .header{
            font-size: xx-large;
            padding-top: 20px;
        }
        .form{
            display: flex;
            flex-direction: column;
            padding: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
            gap: 10px; /* Adds space between the grid items */
        }
        .input{
            border: none;
            border-bottom: 2px solid #000;
            margin-bottom: 2px; 
        }
        .button{
            size: 10px;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: #79b3ff87;
            border-color: #b4d4ff;
            transition: background-color 0.5s ease, transform 0.3s ease;
        }
        .button:hover{
            background-color: #a4c4ef; /* Change color on hover */
            transform: scale(1.01);
        }
        .button:active{
            background-color: #7394bf;
            transform: scale3d(0.99);
        }
    }

    
}
