.sidebar {
  position: relative;
  overflow-x: hidden;
  transition: width 0.3s;
  height: 100;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.sidepanel-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-ctn {
  flex: 1; /* Main section occupies remaining space */
  padding-left: 20px; /* Add padding to separate sidebar from main section */
}

.dropdown {
  margin-top: 20px;
}

.dropdown h3 {
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

.dropbtn {
  background-color: #444;
  color: white;
  padding: 10px;
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.dropbtn:hover {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #333;
  min-width: 200px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.dropdown-item {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #555;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px;
}

.search-icon {
  color: #ddd;
}

.search-input {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 3px;
  /* width: 155px; */
}

.search-input::placeholder {
  color: #ccc;
}

.register-patient {
  background-color: #2ecc71;
  border-radius: 3px;
  color: white;
  padding: 10px 10.5px;
  width: auto;
  text-align: left;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.register-patient:hover {
  background-color: #27ae60;
}

.register-icon {
  margin-left: 5px;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; /* Adjust as needed */
  height: 100%;
  cursor: ew-resize;
  background-color: #ddd;
}

.search-result-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}



.drag-card {
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #212529;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
  position: relative;
  overflow: hidden; /* Hide overflow to prevent additional details from overflowing */
  transition: height 0.3s ease; /* Smooth transition for height change */

}

.drag-card h3 {
  color: #212529;
}

.drag-card:hover {
  height: auto;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drag-card:active {
  transform: translateY(0);
  box-shadow: none;
}

.search-result-button {
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  padding: 10px;
  border:#007bff;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.search-result-button h3 {
  color: #212529;
}

.search-result-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-result-button:active {
  transform: scale(0.9);
  box-shadow: none;
}

.patient-details {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.drag-card:hover .patient-details {
  display: block; /* Show additional details when hovered */
}
